.container {
  margin-top: 20px;
}

h1 {
  margin-bottom: 1.5rem;
}

@media (min-width: 992px){
    .container {
      margin-top:88px;
  }

  }

a {
  text-decoration: none;
}

#results-table {
  margin-bottom: 50px;
}

.selected {
  background-color: #FCE8B2;
}

#indexes {
  margin-bottom: 20px;
  text-align: center;
}

.index {
  background-color: #c9d0db;
  border-radius: 10px;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

h6 {
  margin-top: 10px;
  font-weight: bold;
}

.index p {
  font-weight: bold;
}
